@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
:root {
    --background-color: white ; 
    --font-family: 'Nunito', sans-serif;
    --margin: 70px;
    --padding: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
}

.form-title {
    text-align: center;
    font-size: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-group {
    margin: 1.5rem;
}

.input-field {
    
    padding-right: 7rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-family: var(--font-family);
}
.text-area{
    font-size: 1.5rem;
    font-family: var(--font-family);

}
.description-label {
    margin-top: 4rem;
}

.cancel-button, .save-button {
    font: inherit;
    background: none;
    cursor: pointer;
    border: 2px solid #000;
    background-color: white;
    padding: 1rem 1.5rem;
    margin-left: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.25rem;
    box-shadow: 4px 4px 0 0 #000;
    transition: 0.15s ease-out;
}

.cancel-button:hover, 
.cancel-button:focus {
    outline: 0; 
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 #000;
   
}
.save-button:hover, 
.save-button:focus {
    outline: 0; 
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 #000;
    background-color: #6cf5a5;
}
